.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    color: #FFFFFF;
    background-color: #FF6060;
    padding: 2px 40px 2px 40px;
    border-radius: 10px;
    
}

.tag span {
    margin: auto;
}

@media screen and (max-width: 635px) {
    .tag {
        height: 18px;
        border-radius: 5px;
        padding: 2px 30px 2px 30px;
    }

    .tag span {
        font-size: 10px;
    }

}