header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 30px 0 30px 0;
}

header svg {
    width: 210px;
}

nav {
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 60px;
}

nav a {
    text-decoration: none;
    color: #FF6060;
}

.active {
    text-decoration: underline;
}

@media screen and (max-width: 635px) {
    header {
        padding-bottom: 15px;
    }

    header svg {
        width: 145px;
    }

    nav {
        gap: 15px;
    }

    nav a {
        text-transform: uppercase;
        font-size: 12px;
    }
}

@media screen and (max-width: 325px) {
    header svg {
        width: 100px;
    }
}    