.error-message {
    color: #FF6060;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.error-message h1 {
    font-size: 288px;
    font-weight: 700;
    margin: auto;
    padding-top: 50px;
}

.error-message p {
    font-size: 36px;
    margin: auto;
    padding-bottom: 50px;
    text-align: center;
}

.error-message a {
    text-decoration-line: underline;
    color: #FF6060;
    margin: auto;
    padding-bottom: 150px;
    
}

@media screen and (max-width: 635px) {
    .error-message {
        gap: 10px;
    }

    .error-message h1 {
        font-size: 96px;
    }

    .error-message p {
        font-size: 18px;
        padding-bottom: 100px;
    }

    .error-message a {
        font-size: 14px;
    }
}