.about-container, .about {
    width: 90%;
    margin: auto;
    
}

@media screen and (max-width: 635px) {
    .about-container {
        width: 100%;
    }   
    
    .about img {
        height: 223px;
    }
    .about .banner {
        height: 223px;
    }
}