.home {
    width: 90%;
    margin: auto;
}

.card-container {
    margin-top: 50px;
    border-radius: 25px;
    background: #F7F7F7;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

@media screen and (max-width: 635px) {
    .card-container {
        background: none;
        padding: 0;
        margin-top: 30px;
    }
}
