.lodging {
    width: 90%;
    margin: auto;
    
}

.middle-container {
    display: flex;
    justify-content: space-between;
}

.left-container h2 {
    color: #FF6060;
    font-size: 36px;
    margin-bottom: 10px;
    max-width: 720px;
}

.left-container p {
    color: #FF6060;
    font-size: 18px;
    margin-bottom: 20px;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.collapse-bloc {
    display: flex;
    gap: 70px;
}

.collapse-1, .collapse-2 {
    width: 50%;
}

@media screen and (max-width: 635px) {
    .middle-container {
        flex-direction: column;
    }

    .right-container {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }

    .left-container h2 {
        font-size: 18px;
    }

    .left-container p {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .tag span {
        font-size: 10px;
    }

    .collapse-bloc {
        flex-direction: column;
        gap: 0px;
    }

    .collapse-1, .collapse-2 {
        width: 100%;
    }

    .collapse-1 .collapse-toggle, .collapse-2 .collapse-toggle {
        margin-top: 25px;
    }

}