.card {
    display: flex;
    position: relative;
    box-sizing: content-box;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;    
    color: black;
    width: 340px;
    height: 340px;
    overflow: hidden;
}

.card span {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #FFFFFF;
}

.card img {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
}

.overlay {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
}

@media screen and (max-width: 635px) {
    .card {
        width: 100%;
    }
}



