.user {
    display: flex;
    align-items: center;
    gap: 5px;
}

.user span {
    color: #FF6060;
    font-size: 18px;
    text-align: right;
    width: 90px;
}

.user img {
border-radius: 50%;
width: 64px;
height: 64px;
} 

@media screen and (max-width: 635px) {
    .user img {
        width: 50px;
        height: 50px;
    }

    .user span {
        font-size: 12px;
        width: 69px;
    }
}