.collapse-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 52px;
    padding: 0 20px 0 30px;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #FF6060;
    margin-top: 40px;
    cursor: pointer;
}

.collapse-toggle span {
    font-size: 24px;
}

.collapse-content {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-top: -9px;
    font-size: 24px;
    font-weight: 400;
    background-color:#F6F6F6;
    color: #FF6060;
    border-radius: 0 0 10px 10px;
    z-index: -1;
    padding: 30px 15px 15px 15px;
}

@media screen and (max-width: 635px) {
    .collapse-toggle {
        height: 30px;
        border-radius: 5px;
    }

    .collapse-toggle span {
        font-size: 13px;
    }
    .collapse-toggle svg {
        width: 14px;
    }
    .collapse-content {
        font-size: 12px;
        border-radius: 5px;
    }
}


