footer {
    background-color: black;
    width: 100%;
    color: #fff;
    font-size: 24px;
    text-align: center;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}

footer svg {
    width: 122px;
    margin-bottom: 30px;
}

@media screen and (max-width: 635px) {
    footer {
        font-size: 12px;
    }
    
    footer svg {
        width: 122px;
        margin-bottom: 15px;
    }
}

