.banner {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 100%;
    z-index: 1;
}
   
.banner p {
    position: absolute;
    color: white; 
    font-size: 48px;
    font-weight: 500;  
    z-index: 2;
}
    
.banner img{
    width: 100%;
    filter: brightness(70%);
    border-radius: 25px;
    z-index: 0;
    height: 223px;
    object-fit: cover;
}

@media screen and (max-width: 782px) {
    .banner p {
         left: 20px;   
    }
}

@media screen and (max-width: 635px) {
    .banner img{
      height: 111px;  
    }

    .banner p {
        font-size: 24px;
        display: flex;
        justify-content: flex-start;
        max-width: 227px;
        left: 20px;
    }
}
    