.slider {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    border-radius: 25px;
    height: 415px;
    margin-bottom: 30px;
}

.slider img {
    border-radius: 25px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.next, .previous {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.next {
    right: 20px;
}

.previous {
    left: 20px;
}

.slider span {
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: #FFFFFF;
}

@media screen and (max-width: 635px) {
    .slider {
        margin-bottom: 15px;
        
    }

    .slider svg {
        width: 12px;
    }

    .slider span {
        display: none;
    }
}